@mixin elSize($width, $height) {
    width: $width;
    height: $height;
}
@mixin d-flex($justify:center, $align:center, $flex:flex) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #fdfaf2;
    overflow-x: hidden;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    &.active { cursor: auto; }
    img { width: 100%; }
}
a {
    color: inherit;
    text-decoration-line: none;
    font-size: inherit;
}
ul, ol, li {
    list-style: none;
}
.hover .b { display: none; }
.active {
    .a { display: none!important; }
    .b { display: inline-block!important; }
}



#index {
    // Small Width : 1208px
    position: relative;
    width: 100vw;
    min-height: 1025px;

    &>* { position: absolute; }

    .bg {
        &-school {
            width: calc(min(1126px, 93.21vw));
            top: calc(min(171px, 14.2vw));
            left: 50%;
            transform: translateX(calc(max(-402px, -17.5vw)));
        }
        &-txt1 {
            width: calc(min(477px, 39.5vw));
            top: calc(min(14.1vw, 170px));
            right: 50%;
            transform: translateX(calc(max(-5.8vw,  -80px)));
        }
        &-txt2 {
            width: calc(min(535px, 44.3vw));
            top: calc(min(350px, 29vw));
            right: 50%;
            transform: translateX(calc(max(-0.1vw, -11px)));
        }
        &-txt3 {
            width: calc(min(233px, 19.3vw));
            top: calc(min(532px, 44vw));
            right: 50%;
            transform: translateX(calc(max(-24.2vw, -302px)));
        }
    }

    
    a.hover {
        top: 55px;
        left: 50%;
        
        img { width: calc(min(246px, 20.4vw)); }
        &.btn {
            &-videos { transform: translateX(calc(max(-77px, -5.1vw))) }
            &-photos { transform: translateX(calc(min(215px, 18.6vw))) }
        }
    }
}



.panel {
    margin: 0 auto;

    .list_content .plate {
        position: relative;
        min-height: calc(min(380px, 31.5vw));
        
        img { position: absolute; }
        .school {
            width: calc(min(491px, 40.6vw));
            left: calc(min(345px, 28.5vw));
        }
        .txt1 {
            width: calc(min(359px, 29.7vw));
            top: calc(min(40px, 3.3vw));
            left: calc(min(83px, 6.8vw));
        }
        .txt2 {
            width: calc(min(208px, 17.2vw));
            top: calc(min(199px, 19.5vw));
            left: calc(min(100px, 8.2vw));
        }
    }
}


#videos, #photos {
    background-size: calc(max(2000px, 100vw)) auto;
    background-position: bottom -438px center;

    .title {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: calc(min(95.8vw, 1157px));
        // slogan
        img { display: block; }
        .slogan { width: calc(min(684px, 56.6vw)); }
        .school {
            width: calc(min(34.5vw, 417px));
            padding-top: calc(min(94px, 7.8vw));
        }
    }
}


#videos {
    width: 100%;
    min-height: 1025px;
    padding-top: 50px;

    .panel {
        display: flex;
        justify-content: space-between;
        width: calc(min(1170px, 97vw));

        .list {
            &_group {
                text-align: center;

                .menu {
                    @include elSize(calc(min(17.9vw, 216px)), calc(min(55.1vw, 666px)));
                    margin: 4px auto 22px auto;
                    text-align: center;
                    padding-top: calc(min(36px, 3vw));
                    background-image: url(imgs/menu-board.png);
                    background-repeat: no-repeat;

                    button[data-file] {
                        display: inline-block;
                        color: #5b4236;
                        font-size: calc(min(22px, 1.8vw));
                        padding-bottom: calc(min(5px, 0.4vw));
                        margin-bottom: calc(min(13.6px, 1.12vw));
                        &.active, &:hover {
                            color: #ff5501;
                            padding-bottom: calc(min(3px, 0.02vw));
                            border-bottom: 2px solid #ff5501;
                        }
                    }
                }
                
                [href]  img { width: calc(min(16vw, 193px)); }
            }
            &_title { width: calc(min(256px, 21.2vw)); }

            &_content {
                width: calc(min(904px, 74.8vw)); 
                min-height: calc(min(53.4vw, 645px));

                video { width: 100%; }
            }
        }

        .title { margin-top: calc(max(-1.2vw, -14px)); }
    }
}


#photos {
    width: 100%;
    min-height: 1175px;
    padding-top: 20px;
    
    .panel { 
        display: flex;
        width: calc(min(1178px, 95.3vw)); 
    }
    
    .list_group {
        text-align: center;
        width: calc(min(255px, 20.6vw));
        margin-top: calc(min(32px, 2.6vw));

        .list_title { width: 100%; }
        a[href] img { 
            width: calc(min(193px, 15.6vw)); 
            margin-bottom: 10px;
        }
        button[data-file] { width: calc(min(216px, 17.5vw)); }
    }

    .list_content {
        position: relative;
        margin-left: calc(min(1.3vw, 16px));
        .tint {
            position: absolute;
            right: 0;
            top: calc(min(197px, 15.9vw));
            width: calc(min(20px,  1.5vw));
        }
    }
    // <div class="list_content"> ___ <div class="photo_carousel">
    .photo {
        &_carousel { width: calc(min(943px, 76.9vw)); }
        &_view {
            [type="radio"] { display: none; }
            label { opacity: 0.5; }
            #show:checked~label[for="show"] { opacity: 1; }
            #hide:checked~label[for="hide"] { opacity: 1; }
        }

        &_thumb {
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            &_size { width: 100%; }

            // value
            width: calc(min(906px, 73.3vw));
            height: calc(min(123px, 10vw));
            background: #000;
            padding: calc(min(12px, 1vw)) calc(min(31px, 2.5vw));

            &>ul {
                display: flex;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                transition: all .5s ease-in-out;

                // value
                left: calc(min(31px, 2.5vw));

                &>li {
                    // value
                    &:not(:last-of-type) { padding-right: 10px; }
                    
                    img { 
                        max-width: 90%; 
                        max-height: 90%;
                    }
                }
            }
            &_border {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba($color: #888, $alpha: 0.5);
                &.active { border: 2px solid #ccc; }

                // value
                width: calc(min(145px, 11.7vw));
                height: calc(min(98px, 7.9vw));
            }

            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                height: 100%;

                &.btn_prev { 
                    padding: 0 2px; 
                    left: 0;
                }
                &.btn_next { 
                    padding: 0 2px; 
                    right: 0;
                }

                // value
                background: #000;
                width: calc(min(31px, 2.5vw));
                img { width: calc(min(10px, 0.7vw)); }
            }
        }

        &_content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin-top: 10px;
            
            // value
            background: #b1afa9;
            width: calc(min(903px, 73.3vw));
            height: calc(min(575px, 46.5vw));
            
            .photo {
                max-width: 95%;
                max-height: 95%;
            }

            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                height: 100%;

                &.btn_prev { 
                    padding: 0 4px; 
                    left: 0;
                }
                &.btn_next { 
                    padding: 0 4px; 
                    right: 0;
                }

                // value
                background: #6a6965;
                width: calc(min(32px, 2.6vw));
                img { width: calc(min(18px, 1.5vw)); }
            }
        }
    }
}